
.Nav{
    background-color: aquamarine; 
}
li{
   
    text-decoration: none;
    
}
.footer{
    border-top: sienna;
    text-align: center;
    height: fit-content;
    background-color: springgreen;
}


